<div class="container">
  <div class="row">
    <form [formGroup]="requestForm" (ngSubmit)="submitRequestForm()">
      <!-- group - 1 -->
      <div class="col-12">
        <div class="input-group m-3">
          <select class="form-select flex-grow-0 w-auto bg-light" 
          formControlName="requestType" id="requestType" name="requestType">
          <option *ngFor="let item of getRequestTypeList(); let i=index, let f=first"
          value="{{item.key}}">{{item.value}}</option>
        </select>
        <input class="form-control px-4 text-center" 
        formControlName="requestUrl" type="url" name="requestUrl" id="requestUrl"
        placeholder="https://example.com"/>
        <button class="btn btn-primary btn-lg" type="submit" [disabled]="!requestForm.valid">Send</button>
      </div>
    </div>
    <!-- group - 2 -->
    <div class="col-12 m-3">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="query-params-tab" data-bs-toggle="tab" data-bs-target="#query-params"
              type="button" role="tab" aria-controls="query-params" aria-selected="true">
              Query Params
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="request-headers-tab" data-bs-toggle="tab" data-bs-target="#request-headers"
              type="button" role="tab" aria-controls="request-headers" aria-selected="false">
              Headers
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="json-tab" data-bs-toggle="tab" data-bs-target="#json" type="button" role="tab"
              aria-controls="json" aria-selected="false">
              JSON
            </button>
          </li>
        </ul>

        <div class="tab-content p-3 border-top-0 border">
          <div class="tab-pane fade show active" id="query-params" role="tabpanel" aria-labelledby="query-params-tab">
            <button class="mt-2 btn btn-outline-success" type="button" 
            (click)="addRequestQueryParamItem()">Add</button>
            <!-- add dynamic input box -->
            <div formArrayName="requestQueryParams"
              *ngFor="let item of requestForm.get('requestQueryParams').controls; index as groupIndex;">
              <div [formGroupName]="groupIndex" class="input-group my-2">
                <input class="form-control" formControlName="key" placeholder="key">
                <input class="form-control" formControlName="value" placeholder="value">
                <button class="form-control" class="btn btn-outline-danger" type="button"
                (click)="removeRequestQueryParamItem(groupIndex)">Remove</button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="request-headers" role="tabpanel" aria-labelledby="request-headers-tab">
            <button class="mt-2 btn btn-outline-success" type="button" 
            (click)="addRequestHeaderItem()">Add</button>
            <!-- add dynamic input box -->
            <div formArrayName="requestHeaders"
              *ngFor="let item of requestForm.get('requestHeaders').controls; let groupIndex = index;">
              <div [formGroupName]="groupIndex" class="input-group my-2">
                <input class="form-control" formControlName="key" placeholder="key">
                <input class="form-control" formControlName="value" placeholder="value">
                <button class="form-control" class="btn btn-outline-danger" type="button"
                (click)="removeRequestHeaderItem(groupIndex)">Remove</button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="json" role="tabpanel" aria-labelledby="json-tab">
            <div class="form-floating">
              <textarea class="form-control" placeholder="enter valid json" 
              formControlName="requestJson"
              id="requestJson" name="requestJson" style="height: 200px;"></textarea>
              <label for="requestJson">Enter valid json</label>
            </div>
          </div>
        </div>
      </div>
      <!-- group - 3 -->
      <div class="col-12 mx-3 mt-5">
        <h4 class="my-2">Response</h4>
        <div class="d-flex my-2">
            <span class="badge rounded-pill bg-primary mx-2">Status: {{responseDetails?.responseStatus || 0}}</span>
            <span class="badge rounded-pill bg-secondary mx-2">Time: {{responseDetails?.responseTime | number : '1.2-4'}} ms</span>
            <span class="badge rounded-pill bg-secondary mx-2">Size: {{responseDetails?.responseSize || 0}} </span>
        </div>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="response-body-tab" data-bs-toggle="tab" data-bs-target="#response-body"
              type="button" role="tab" aria-controls="response-body" aria-selected="true">
              Body
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="response-all-tab" data-bs-toggle="tab" data-bs-target="#response-all"
              type="button" role="tab" aria-controls="response-all" aria-selected="true">
              Response All
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="response-headers-tab" data-bs-toggle="tab" data-bs-target="#response-headers"
              type="button" role="tab" aria-controls="response-headers" aria-selected="false">
              Headers
            </button>
          </li>
        </ul>

        <div class="tab-content p-3 border-top-0 border">
          <div class="tab-pane fade show active" id="response-body" role="tabpanel" aria-labelledby="response-body-tab">
            <ngx-json-viewer [json]="responseDetails.responseBody"></ngx-json-viewer>
          </div>
          <div class="tab-pane fade show" id="response-all" role="tabpanel" aria-labelledby="response-all-tab">
            <ngx-json-viewer [json]="responseDetails.responseAll"></ngx-json-viewer>
          </div>
          <div class="tab-pane fade" id="response-headers" role="tabpanel" aria-labelledby="response-headers-tab">
            <ul class="list-group list-group-flush" *ngIf="responseDetails?.responseHeaders.length > 0">
              <li  class="list-group-item" *ngFor="let item of responseDetails?.responseHeaders">{{item.key}} {{item?.value}}</li>
            </ul>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>